/* Louis J D'Agusto
April 18th 2026
 Week 5 Assignment - Photo shoot Game */

body{
  font-family: sans-serif;
  background-image: url("./assets/ForestBackdrop.png")!important;
  background-size: cover;
  text-align: center;
  user-select: none; /*prevent text from being highlighted */
  overflow: hidden;
}

.Animal{
  position: absolute; /*used in order to move image*/
  width: 150px;
  height: 150px;
}

.ImageComponent{
   /*ensures the image fills the component*/
  width: 100%;
  height: 100%;
}

.ImageComponent:hover{
  cursor: crosshair;
}

.container {
  text-align: center;
  position: relative;
  height: 100vh;

  width: 100vw;
}

.hud {
  position: absolute;
  top: 10px;
  left: 25%;

  display: flex;
  justify-content: center;   /* centers horizontally */
  gap: 50px;                 /* space between Round & Score */
}
